[submodule "submodules/umesh"]
	path = submodules/umesh
	url = https://gitlab.com/ingowald/umesh
[submodule "submodules/miniScene"]
	path = submodules/miniScene
	url = https://github.com/ingowald/miniScene
[submodule "submodules/cuteeOWL"]
	path = submodules/cuteeOWL
	url = https://github.com/owl-project/cuteeOWL
